.manage-schedule-container {
    .m-s-title{
        padding: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .pick-time-container{
        height: 50px;
        border: 1px solid #eb4c4c;
    }
}